<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>传感器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C7B76111DF42E60002E6D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C7B76251DF42E61002E6D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C7B76301DF42E61002E6D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
